{% extends "base.html" %}

{% block content %}
<div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
	<div class="p-5"></div>
	<div class="p-5"></div>
	<div class="p-5"></div>
	<div class="p-5">
		<div class="card text-center">
			<div class="card-header">
			</div>
			<div class="card-body">
				<h5 class="card-title">Ready to surf the web in 3d?</h5>
				<p class="card-text">Live the 90s dream of surfing the web, literally...</p>
				<a href="#" class="btn btn-primary">webSurf Now</a>
			</div>
			<div class="card-footer text-muted">
			</div>
		</div>
	</div>
</div>
{% endblock %}