<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WebSurf Brahhh!</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				font-family: Monospace;
				background-color: #1CB200;
				margin: 0px;
				overflow: hidden;
			}
			/*This is used for YC Matrix Application Remove When Done*/
			.imageContainer {
   				 float: left;
			}

			p {
    				text-align: center;
			}
		</style>
	</head>
<body>
	<script src="three.js-master/build/three.min.js"></script>
	{% block content %}
	{% endblock %}
</body>
</html>