<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WebSurf Brahhh!</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				font-family: Monospace;
				background-color: #f0f0f0;
				margin: 0px;
				overflow: hidden;
			}
		</style>
	</head>
<body>
	<script src="three.js-master/build/three.min.js"></script>
	<audio id="a1">
		<source src="sounds/a1.ogg"> 
	</audio>
	{% block content %}
	{% endblock %}

</body>
</html>