{% extends "base.html" %}

{% block content %}

<div id="webgl">
	<div id="blocker">			
		<div id="instructions">
			<span style="font-size:40px">Click to play</span>
			<br />
			(W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
		</div>
	</div>
</div>
<script src="https://apis.google.com/js/api.js"></script>
<script src="js/youtubeApi.js"></script>
<script src="lib/dat.gui.min.js"></script>
<script src="lib/OrbitControls.js"></script>
<script src="three.js-master/examples/js/controls/TrackballControls.js"></script>
<script src="three.js-master/examples/js/controls/PointerLockControls.js"></script>
<script src="three.js-master/examples/js/renderers/CSS3DRenderer.js"></script>
<script src="three.js-master/examples/js/libs/stats.min.js"></script>
<script src="js/webSurf.js"></script>
{% endblock %}