{% extends "base.html" %}

{% block content %}

<script src="three.js-master/build/three.min.js"></script>
<script src="three.js-master/examples/js/controls/TrackballControls.js"></script>
<script src="three.js-master/examples/js/renderers/CSS3DRenderer.js"></script>


<div id="container"></div>
<div id="blocker"></div>

<script src="js/ycApplicationMatrix.js"></script>

<h1>Around My Face / Click Drag RMB or LMB / Click Drag RMB or LMB / Middle Mouse Scroll Up or Down</h1>
<h1>Play video one after the other if there is no autoplay #IntentOfYourMaker</h1>

<div class="imageContainer"><img src="/images/borg.gif" height="200" width="200"><p>ResistanceIsFutile</p> </div>

<div class="imageContainer"><img src="/images/catpirate.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>
<div class="imageContainer"><img src="/images/robot.gif" height="200" width="200"><p>ResistanceIsFutile</p></div>
<div class="imageContainer"><img src="/images/matrix.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>

<div class="imageContainer"><img src="/images/borg.gif" height="200" width="200"><p>ResistanceIsFutile</p> </div>

<div class="imageContainer"><img src="/images/catpirate.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>
<div class="imageContainer"><img src="/images/robot.gif" height="200" width="200"><p>ResistanceIsFutile</p></div>
<div class="imageContainer"><img src="/images/matrix.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>

<div class="imageContainer"><img src="/images/borg.gif" height="200" width="200"><p>ResistanceIsFutile</p> </div>

<div class="imageContainer"><img src="/images/catpirate.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>
<div class="imageContainer"><img src="/images/robot.gif" height="200" width="200"><p>ResistanceIsFutile</p></div>
<div class="imageContainer"><img src="/images/matrix.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>

<div class="imageContainer"><img src="/images/borg.gif" height="200" width="200"><p>ResistanceIsFutile</p> </div>

<div class="imageContainer"><img src="/images/catpirate.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>
<div class="imageContainer"><img src="/images/robot.gif" height="200" width="200"><p>ResistanceIsFutile</p></div>
<div class="imageContainer"><img src="/images/matrix.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>

<div class="imageContainer"><img src="/images/borg.gif" height="200" width="200"><p>ResistanceIsFutile</p> </div>

<div class="imageContainer"><img src="/images/catpirate.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>
<div class="imageContainer"><img src="/images/robot.gif" height="200" width="200"><p>ResistanceIsFutile</p></div>
<div class="imageContainer"><img src="/images/matrix.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>

<div class="imageContainer"><img src="/images/borg.gif" height="200" width="200"><p>ResistanceIsFutile</p> </div>

<div class="imageContainer"><img src="/images/catpirate.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>
<div class="imageContainer"><img src="/images/robot.gif" height="200" width="200"><p>ResistanceIsFutile</p></div>
<div class="imageContainer"><img src="/images/matrix.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>

<div class="imageContainer"><img src="/images/borg.gif" height="200" width="200"><p>ResistanceIsFutile</p> </div>

<div class="imageContainer"><img src="/images/catpirate.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>
<div class="imageContainer"><img src="/images/robot.gif" height="200" width="200"><p>ResistanceIsFutile</p></div>
<div class="imageContainer"><img src="/images/matrix.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>

<div class="imageContainer"><img src="/images/borg.gif" height="200" width="200"><p>ResistanceIsFutile</p> </div>

<div class="imageContainer"><img src="/images/catpirate.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>
<div class="imageContainer"><img src="/images/robot.gif" height="200" width="200"><p>ResistanceIsFutile</p></div>
<div class="imageContainer"><img src="/images/matrix.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>

<div class="imageContainer"><img src="/images/borg.gif" height="200" width="200"><p>ResistanceIsFutile</p> </div>

<div class="imageContainer"><img src="/images/catpirate.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>
<div class="imageContainer"><img src="/images/robot.gif" height="200" width="200"><p>ResistanceIsFutile</p></div>
<div class="imageContainer"><img src="/images/matrix.gif" height="200" width="200"><p>YCWillBeAssimilated</p></div>

{% endblock %}